{% extends "email/base.html" %}

{% block title %}Reset Your Password - Critvue{% endblock %}

{% block header %}
<h1>Password Reset</h1>
{% endblock %}

{% block content %}
<p>Hello{% if user_name %} {{ user_name }}{% endif %},</p>

<p>We received a request to reset your Critvue password. Click the button below to choose a new password:</p>

<div class="button-center">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</div>

<p class="text-muted text-small">Or copy and paste this link into your browser:</p>
<div class="token-box">{{ reset_url }}</div>

<div class="info-box warning">
    <p><strong>This link expires in 15 minutes</strong> for your security.</p>
</div>

<p>If you didn't request a password reset, you can safely ignore this email. Your password will not be changed.</p>
{% endblock %}

{% block footer %}
<p>This is an automated security message from Critvue.</p>
<p>Please do not reply to this email.</p>
<p class="mt-4">&copy; {{ current_year }} Critvue. All rights reserved.</p>
{% endblock %}
